<h1>Wiki Community</h1>

<p>Wiki Community is a Ruby on Rails application that allows users to create wikis and collaborate on other wikis. Users can pay to upgrade their membership, allowing them to view and create private wikis.</p>

<h1>Features</h1>
<ul>
 <li>Users can create a standard account in order to create, edit, and collaborate on public wikis using Markdown syntax. Anyone can view public wikis.</li>
 <li>Users can pay to upgrade their account to Premium in order to view and create private wikis.</li>
 <li>Premium users can allow others to view and collaborate on the private wikis they create.</li>
 <li>Premium users can downgrade their account back to Standard.</li>
 <li>When a user downgrades his or her account, his or her private wikis will automatically become public.</li>
</ul>

<!-- <h1>Setup and Configuration</h1>

<p><strong>Languages and Frameworks:</strong> Ruby on Rails and Bootstrap</p>

<p><strong>Development Tools and Gems include:</strong></p>
<ul>
 <li>Devise for user authentication</li>
 <li>Pundit for authorization</li>
 <li>Stripe for payments</li>
</ul>

<p><strong>To run Blocipedia locally:</strong></p>
<ul>
 <li>Clone the repository</li>
 <li>Run bundle install</li>
 <li>Create and migrate the SQLite database with rake db:create and rake db:migrate</li>
 <li>Start the server using rails server</li>
 <li>Run the app on localhost:3000</li>
</ul> -->
